<h1 class = "col-12 text-center mb-5">You're going to play some music!</h1>
<h4 class = "col-12 text-center">Your booking</h4>
<div class = "row justify-content-center">
  <div class = "col-10 col-sm-6 col-md-4 text-center">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><%= "#{@booking.time_start.strftime("%H:%M")} - #{@booking.time_end.strftime("%H:%M")}" %></h3>
        <p class = "card-text"><%= @booking.time_start.strftime("%d/%m/%Y") %></p>
        <p class="card-text"><%= @booking.room.name %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> 
</div>
