<p>Hi there,</p>
<p>
  Your Seed Music booking for <b><%= "#{@date}, from #{@start_time} to #{@end_time} in #{@room_name}" %></b> has been confirmed.
</p>
<p>
  You can manage your booking and add it to your calendar, <%= link_to 'here', booking_url(@booking, host: "#{@booking.account.subdomain}.#{@host}") %>.
</p>
<p>
  This booking was created by <%= link_to @creator_name, user_url(@creator, host: "#{@booking.account.subdomain}.#{@host}") %>.
</p>

Enjoy,<br />
Seed Music