<p>Hi there,</p>
<p>
  Your Seed Music booking for <%= "#{@date}, from #{@start_time} to #{@end_time} in #{@room_name}" %> has been <b>cancelled</b>.
</p>
<p>
  If you still still wish to play some music, please <%= link_to 'make another booking', root_url %>.

Best wishes,<br />
Seed Music