@import "bootstrap";
@import "font-awesome";

$primary:#FF0072;
$second:#428bca;
$disabled:#C0C0C0;
$background:#F5F5F5;

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-half-booyah-box {
  background-color: #0099CC;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-half-booyah-box-secondary {
  background-color: #e0e0e0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#background-grey {
  background-color: $background;
}

.clear {
  clear: both;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 270px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.full-page-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 270px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.my-10 {
  margin-top: 100px;
}

input[type=text] {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select.form-control.select.optional {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button.multiselect {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button.multiselect::after{
  display: none;
}

ul.multiselect-container {
  margin-top: 40px;
}

select {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.form-button {
  height: 40px;
  margin: 0px;
}

.second-section {
  display: none;
}

label.error {
  color: #FF9494;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 3;
}

a.bttn-primary {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.25s all ease;
  transition:0.25s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}

.bttn-primary {
  color:$primary;
  text-decoration:none;
  -webkit-transition:0.25s all ease;
  transition:0.25s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
  cursor: pointer;
  font-size:18px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  font-weight:bold;
  padding:10px 0px;
  border:3px solid $primary;
  border-radius:2px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  &:before {
    -webkit-transition:0.25s all ease;
    transition:0.25s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-color:$primary;
    z-index:-2;
  }
  &:hover {
    &:before {
      -webkit-transition:0.25s all ease;
      transition:0.25s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      transition:0.15s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}

.timeslot, .user-box {
  color:$second;
  text-decoration:none;
  cursor: pointer;
  font-size:12px;
  letter-spacing:1.2px;
  text-transform:uppercase;
  text-align:center;
  font-weight:bold;
  padding:5px 5px;
  border:2px solid $second;
  border-radius:2px;
  position:relative;
}

.timeslot.active, .user-box.active-user {
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  color: white;
  background-color: $second;
}

.timeslot.disabled, .timeslot.disabled-temp {
  border: 2px solid $disabled;
  color: $disabled;
  pointer: default;
}

#slot-list li {
  display: inline-block;
  list-style-type: none;
}

.search-form-show-hide, .user-form-show-hide {
  display: none;
}

.hr-grey {
  color: grey;
}

.green-text, .green-text a {
  color: green;
}

.user-image-circle {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: grey;
  border: 2px solid $disabled;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}