@import "bootstrap";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

#background-grey {
  background-color: #F5F5F5;
}

.clear {
  clear: both;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 270px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.my-10 {
  margin-top: 100px;
}

input[type=text] {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select.form-control.select.optional {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

select {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.form-button {
  height: 40px;
  margin: 0px;
}

.second-section {
  display: none;
}

label.error {
  color: #FF9494;
}