
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Lato');

$disabled:#C0C0C0;
$background:#f6f7fa;
$mint-light:#5ed1b3;
$mint-dark:#4bc2a2;
$pink: #ED1566;
$yellow:#fabc0f;
$purple: #666389;
$blue: #2989ce;
$charcoal:#263030;
$light-grey:#e3e3e3;
$white:#ffffff;
$header-font:'Baloo Chettan', cursive;
$text-font: 'Lato', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

p {
  font-family: $text-font;
}

.background-white {
  background: white !important;
}

.background-mint {
  background: $mint-dark !important;
}

.background-pink {
  background: $pink !important;
}

.background-yellow {
  background: $yellow !important;
}

.background-purple {
  background: $purple !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-mint, .text-mint a {
  color: $mint-dark !important;
}

.text-pink, .text-pink a {
  color: $pink !important;
}

.text-purple, .text-purple a {
  color: $purple !important;
}

.text-green, .text-green a {
  color: green !important;
}

.text-grey, .text-grey a {
  color: grey !important;
}

.text-white {
  color: white !important;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.booyah-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.booyah-box-grey {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #eceff1;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.top-half-booyah-box {
  background-color: $blue;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

.top-half-booyah-box a, .top-half-booyah-box a:hover {
  color: white;
}

.bottom-half-booyah-box {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}

.top-half-booyah-box-secondary {
  background-color: $pink;
  border: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

li.sm-bulleted-list {
  font-size: 130%;
  font-family: $text-font;
  list-style: none;
  color: grey;
}

li.sm-bulleted-list:before {
  content: '\2022';
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -25px;
  top: 0;
  color: rgb(250,188,15);
  font-size: 20px;
}

span.numbered {
  background: rgb(250,188,15);
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.4em;
  margin-right: 5px;
  text-align: center;
  width: 1.4em; 
}


.min-height-n {
  min-height: 50px;
}

#background-grey {
  background-color: $background;
}

.clear {
  clear: both;
}

.hero {
  background: image_url('SM_Hero.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.room-user-hero {
  background: image_url('SM_Hero_small.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.super-hero {
  background: image_url('SM_Hero.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: $header-font;
}

.super-hero h1 {
  font-size: 400%;
}

h1.mega-title {
  font-size: 300%;
}
.frosty {
  border: #solid 10px #000;
  background-color: rgba(105,105,105,0.5);
}

.full-page-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 270px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.pt-10 {
  padding-top: 80px;
  padding-bottom: 20px;
}

.my-10 {
  margin-top: 70px;
  margin-bottom: 70px;
}

input[type=text] {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select.form-control.select.optional {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button.multiselect {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

button.multiselect::after{
  display: none;
}

ul.multiselect-container {
  margin-top: 40px;
}

select {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.form-button {
  height: 40px;
  margin: 0px;
}

.second-section {
  display: none;
}

label.error {
  color: #FF9494;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 3;
}

.btn {
  text-align: center;
  transition: 0.5s !important;
  font-weight: bold !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: $mint-dark !important;
    border: 2px solid $mint-dark !important;
}

.btn-primary:hover {
  background-color: darken($mint-dark, 5%) !important;
  border-color: darken($mint-dark, 5%) !important;
}

.btn-pink,
.btn-pink:active,
.btn-pink:visited,
.btn-pink:focus {
    background-color: $pink !important;
    border: 2px solid $pink !important;
    color: white !important;
}

.btn-pink:hover {
  background-color: darken($pink, 5%) !important;
  border-color: darken($pink, 5%) !important;
}

.btn-yellow,
.btn-yellow:active,
.btn-yellow:visited,
.btn-yellow:focus {
    background-color: $yellow !important;
    border: 2px solid $yellow !important;
    color: white !important;
}

.btn-yellow:hover {
  background-color: darken($yellow, 5%) !important;
  border-color: darken($yellow, 5%) !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    border: 2px solid $mint-dark !important;
    color: $mint-dark !important;
}

.border-top-grey {
  border-top: 2px solid $light-grey;
}


.timeslot, .user-box {
  color: $mint-dark;
  background-color: white;
  text-decoration:none;
  cursor: pointer;
  font-size:12px;
  text-align:center;
  font-weight:bold;
  padding:10px 10px;
  border:2px solid $mint-dark;
  border-radius: 4px;
  position:relative;
}

.timeslot.active, .user-box.active-user {
  box-shadow: 0 2px 0 $mint-light;
  border-color: $mint-dark;
  top: 1px;
  color: white;
  background-color: $mint-dark;
}

.timeslot.disabled, .timeslot.disabled-temp {
  border: 2px solid $disabled;
  background-color: $disabled;
  color: white;
  pointer: default;
}

#slot-list li {
  display: inline-block;
  list-style-type: none;
}

.search-form-show-hide, .user-form-show-hide, .show-hide {
  display: none;
}

.selected-user {
  margin: auto;
  padding: 2px;
  height: 40px;
}

.hr-grey {
  color: grey;
}

.user-image-circle {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: grey;
  border: 2px solid $disabled;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-image-circle:hover {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
}

.default-hidden {
  display: none;
}